<div class="px-6 py-4 border-pink-300 border-2 rounded-lg text-pink-700">
  <p>Favorites Count: <%= collection.favorites_count %></p>
  <p>Title: <%= collection.title %></p>
  <p>Description: <%= collection.description %></p>
</div>
