<%= link_to categorization_quiz do %>
  <div class="px-6 py-4 rounded-lg border-2 border-emerald-300 text-emerald-700">
    <p>Favorites Count: <%= categorization_quiz.favorites_count %></p>
    <p>Title: <%= categorization_quiz.title %></p>
    <p>Description: <%= categorization_quiz.description %></p>
  </div>
<% end %>
