<div class="px-6 py-4 rounded-lg border-2 border-emerald-300 text-emerald-700">
  <p>Favorites Count: <%= flash_card.favorites_count %></p>
  <p>Question: <%= flash_card.prompt %></p>
  <p>Answer: <%= flash_card.answer %></p>
</div>
